<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Airline Booking System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"></link>
    <style>
        BODY {
            padding-top: 70px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Airline Booking</a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Help</a>
            </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <nav class="sidebar col-4">
            <form class="form-control bg-faded" action="#" th:action="@{/getFlight}" th:object="${flightSearchVO}" method="post">

                <div class="form-group row">
                    <label class="col-4 col-form-label">Source</label>
                    <div class="col-8">
                        <select class="form-control" id="optionsList" th:field="*{source}" name="optionsListId">
                            <option th:each="option : ${searchOptions}"
                                    th:value="${option}"
                                    th:text="${option}">Options</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label  class="col-4 col-form-label">Destination</label>
                    <div class="col-8">
                        <select class="form-control" id="optionsList" th:field="*{destination}" name="optionsListId">
                            <option th:each="option : ${searchOptions}"
                                    th:value="${option}"
                                    th:text="${option}">Options</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-4 col-form-label">Seats Required</label>
                    <div class="col-8">
                        <input class="form-control" type="number" th:field="*{capacity}" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-4 col-form-label">Departure Date</label>
                    <div class="col-8">
                        <input class="form-control" type="date" id="dep_date" th:field="*{startDate}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-4 col-form-label">Travel Class</label>
                    <div class="col-8">
                        <select class="form-control" id="seatTypeList" name="seatTypeListId" th:field="*{seatClass}">
                            <option th:each="travelclass : ${travelClasses}"
                                    th:value="${travelclass}"
                                    th:text="${travelclass}">Options</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4"></div>
                    <div class="col-8">
                        <input class="btn btn-success" type="submit" /> &nbsp;&nbsp;
                        <input class="btn btn-info" type="reset" value="Reset" />
                    </div>
                </div>
            </form>
        </nav>
        <main class="col-8">
            <span th:if="${#lists.isEmpty(flightSearchVO.availableFlight)}">
                <div class="alert alert-info">
                    No Flights Found!
                </div>
            </span>
            <div class="alert alert-success" th:if="${not #lists.isEmpty(flightSearchVO.availableFlight)}">
                <strong th:text="${#lists.size(flightSearchVO.availableFlight)}"></strong> Flights Found!
            </div>
            <div class="table-responsive rounded">
            <table class="table table-striped table-bordered" cellpadding="2" cellspacing="2" th:if="${not #lists.isEmpty(flightSearchVO.availableFlight)}">
                <th>Flight No</th>
                <th>Source</th>
                <th>Destination</th>
                <th class="text-right">Total Price</th>

                <tr th:each="flight:${flightSearchVO.availableFlight}">
                    <td th:text="${flight.flightNumber}"></td>
                    <td th:text="${flight.source}"></td>
                    <td th:text="${flight.destination}"></td>
                    <td class="text-right" th:text="${flightSearchVO.getSurgePrice(flightSearchVO,flight)}"></td>
                </tr>
            </table>
            </div>
        </main>
    </div>

</div>

</body>
</html>