<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        BODY {
            font-family: Tahoma;
            font-size: 10pt;
            background: beige;
        }
        .brdr TD, TH {
            border-bottom: 1px solid silver;
        }
    </style>
</head>
<body>


<form action="#" th:action="@{/getFlight}" th:object="${flightSearchVO}" method="post">
    <table>
        <tr>
            <td>

                Source : <select id="optionsList" th:field="*{source}" name="optionsListId">
                    <option th:each="option : ${searchOptions}"
                            th:value="${option}"
                            th:text="${option}">Options</option>
                </select>
            </td>
            <td>

                Destination: <select id="optionsList" name="optionsListId" th:field="*{destination}">
                    <option th:each="option : ${searchOptions}"
                            th:value="${option}"
                            th:text="${option}">Options</option>
                </select>
            </td>
            <td>
                Seats Required: <input type="number" th:field="*{capacity}" />
            </td>

            <td>
                Departure Date: <input type="date" id="dep_date" th:field="*{startDate}"/>
            </td>
            <td>
                Select Class:<select id="seatTypeList" name="seatTypeListId" th:field="*{seatClass}">
                <option th:each="travelclass : ${travelClasses}"
                        th:value="${travelclass}"
                        th:text="${travelclass}">Options</option>
            </select>
            </td>

            <td>
                <input type="submit" />
            </td>
        </tr>
    </table>
    <hr/>
    <table class="brdr" cellpadding="2" cellspacing="2" th:if="${not #lists.isEmpty(flightSearchVO.availableFlight)}">
        <th>FlightNo</th>
        <th>Source</th>
        <th>Destination</th>
        <th>Total Price</th>

        <tr th:each="flight:${flightSearchVO.availableFlight}">
            <td th:text="${flight.flightNumber}"></td>
            <td th:text="${flight.source}"></td>
            <td th:text="${flight.destination}"></td>
            <td th:text="${flightSearchVO.surgePrice(flight)}"></td>
        </tr>
    </table>
    <span th:if="${#lists.isEmpty(flightSearchVO.availableFlight)}">No flights found!</span>
</form>


</body>
</html>